# Python venv
__pycache__/
/venv


# Compiled executables
*.out
*.o

# Data fies
*.png
*.dat
*.csv
*.pdf

# TeX additional output
*.aux
*.log

# Exceptions
!*_time_measurments.png
!exercise_answers.pdf
